<div class="head">
    <div>
      <h2 style="margin: 0;">Hola {{ usuario?.nombre || "desconocido" }}</h2>
      <h4 class="signo">{{ signoZodiacal }}</h4>
    </div>

    <h2 (click)="salir()">Salir</h2>
  </div>
<div class="margin">
  <div class="ajustar">
    <div class="col-md-4 text-center">
      <button (click)="mostrarContenido('lectura')" class="btn btn-primary">
        Lectura virtual
      </button>
    </div>
    <div class="col-md-4 text-center">
      <button (click)="mostrarContenido('fast')" class="btn btn-primary">
        Preguntas rápidas
      </button>
    </div>
    <div class="col-md-4 text-center">
      <button (click)="mostrarContenido('complete')" class="btn btn-primary">
        Respuestas completas
      </button>
    </div>
  </div>
  <div style="margin-top: 8px" class="col-md-12 text-center">
    <button (click)="mostrarContenido('signos')" class="btn btn-primary">
      Signos
    </button>
  </div>

  <div class="row margin">
    <div class="col-md-12 text-center">
      <div [ngSwitch]="contenidoAMostrar">
        <app-fast-content *ngSwitchCase="'fast'"></app-fast-content>
        <app-main-content *ngSwitchCase="'complete'"></app-main-content>
        <app-lectura *ngSwitchCase="'lectura'"></app-lectura>
        <app-signos *ngSwitchCase="'signos'"></app-signos>
        <div *ngSwitchDefault>Seleccione una opción</div>
      </div>
    </div>
  </div>
</div>
<footer>Application translated by Edwin</footer>
