.ajustar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.margin {
  margin: 15px;
}
.head {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  align-items: center;
  padding: 0 15px;
}
.margin {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.signo {
  color: gray;
  margin: 0;
  position: relative;
  top: -12px;
}

.row {
  flex: 1;
}

footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 10px;
  position: static;
  bottom: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.margin {
  flex: 1;
}
