<form #loginForm="ngForm" (ngSubmit)="recuperar()">
  <div *ngIf="showError" style="font-size: 12px; text-align: center; color: red">
    {{ mensaje }}
  </div>
  <h3 class="login-title">Recuperar cuenta</h3>
  <div class="form-group">
    <label for="email">Correo Electrónico:</label>
    <input
      type="email"
      placeholder="Correo electronico"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      class="form-control"
    />
  </div>
  <button
    type="submit"
    [disabled]="!loginForm.form.valid"
    class="btn btn-primary"
  >
    Recuperar
  </button>
  <p>¿No tienes una cuenta? <a routerLink="/registrarse">Regístrate aquí</a></p>
</form>
<button
    style="background-color: gray;"
    class="btn btn-danger"
    routerLink="/login"
  >
    Volver
  </button>
